<mat-card *ngFor="let book of books$ | async" class="book">
  <mat-card-actions>
    <button mat-button routerLink="/books">
      <mat-icon>arrow_back</mat-icon>
      <span>go back</span>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title class="header-title"> Detail page </mat-card-title>
    <mat-card-subtitle>detail page about {{ book.title }} book</mat-card-subtitle>
    <button type="button" mat-icon-button class="edit-btn" (click)="editBook(book.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="info">
      <p>Title:</p>
      <p>{{ book.title }}</p>
    </div>
    <div class="info">
      <p>Author:</p>
      <p>{{ book.author }}</p>
    </div>
    <div class="info">
      <p>Pages:</p>
      <p>{{ book.pages }}</p>
    </div>
    <div class="info">
      <p>Read:</p>
      <mat-checkbox [checked]="book.read" disabled />
    </div>
    <div class="info">
      <p>Description:</p>
      <p>{{ book.description }}</p>
    </div>
  </mat-card-content>
</mat-card>
