<div class="form-container">
	<form
		[formGroup]="form"
		(ngSubmit)="handleSubmite()"
		class="signup-form">
		<h2>Signup</h2>

		<mat-form-field>
			<mat-label>User Name</mat-label>
			<input
				matInput
				type="text"
				formControlName="username" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input
				matInput
				type="email"
				formControlName="email" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				matInput
				type="password"
				formControlName="password" />
		</mat-form-field>
		<button
			type="submit"
			mat-raised-button
			color="primary">
			Signup
		</button>
	</form>
</div>
