<mat-card class="book">
  <div class="info">
    <p>Title:</p>
    <p>{{ book.title }}</p>
  </div>
  <div class="info">
    <p>Author:</p>
    <p>{{ book.author }}</p>
  </div>
  <div class="info">
    <p>Pages:</p>
    <p>{{ book.pages }}</p>
  </div>
  <div class="info">
    <p>Read:</p>
    <p>{{ book.read ? "Yes" : "No" }}</p>
  </div>
  <div class="actions">
    <span>Actions</span>
    <div class="action-buttons">
      <button mat-icon-button (click)="editBook(book.id!)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/books/' + book.id]">
        <mat-icon>book</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteBook(book.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
